###  Manipulación de datos para Modelar

- Camila Daniela Zapata Castañeda
- 6 de Enero del 2025
- 745624

In [1]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_excel("Boston Housing Dataset 1978.xlsx")

In [48]:
df

,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,18.0,0.0,0.538,6.575,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.0,0.0,0.469,6.421,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.0,0.0,0.469,7.185,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.0,0.0,0.458,6.998,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.0,0.0,0.458,7.147,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...
501,0.0,0.0,0.573,6.593,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.0,0.0,0.573,6.120,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.0,0.0,0.573,6.976,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.0,0.0,0.573,6.794,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.0,0.0,0.573,6.030,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [45]:
df.describe()

,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000
mean,12.721239,0.077434,0.540816,6.343538,4.043570,7.823009,377.442478,18.247124,369.826504,11.441881,23.750442
std,24.326032,0.267574,0.113816,0.666808,2.090492,7.543494,151.327573,2.200064,68.554439,6.156437,8.808602
min,0.000000,0.000000,0.385000,3.561000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,6.300000
25%,0.000000,0.000000,0.447000,5.926750,2.354750,4.000000,276.750000,16.800000,377.717500,6.587500,18.500000
50%,0.000000,0.000000,0.519000,6.229000,3.550400,5.000000,307.000000,18.600000,392.080000,10.250000,21.950000
75%,20.000000,0.000000,0.605000,6.635000,5.401100,7.000000,411.000000,20.200000,396.157500,15.105000,26.600000
max,100.000000,1.000000,0.871000,8.780000,12.126500,24.000000,711.000000,22.000000,396.900000,34.410000,50.000000

Quitar los Nan

In [40]:
df = df.dropna()

Este es un paso que se hace una vez que ya corriste por primera vez los datos y quitas las columnas que no son significativas

In [41]:
df = df.drop(columns = ["AGE", "INDUS", "CRIM"])

Estamos escalando los datos

In [57]:
for i in range(len(df.columns)):
    mini = df.iloc[:, i].min()
    dfmin = df.iloc[:, i] 
    maxi = dfmin.max()
    dfmax = dfmin/maxi
    df.iloc[:, i] = dfmax

In [58]:
df.describe()

,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000
mean,0.127212,0.077434,0.320608,0.533155,0.264981,0.296653,0.363440,0.600758,0.931733,0.297181,0.399324
std,0.243260,0.267574,0.234189,0.127765,0.190098,0.327978,0.288793,0.234049,0.172864,0.188385,0.201570
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.127572,0.453296,0.111409,0.130435,0.171279,0.446809,0.951630,0.148638,0.279176
50%,0.000000,0.000000,0.275720,0.511209,0.220135,0.173913,0.229008,0.638298,0.987846,0.260710,0.358124
75%,0.200000,0.000000,0.452675,0.589002,0.388428,0.260870,0.427481,0.808511,0.998128,0.409272,0.464531
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
import statsmodels.api as sm

In [59]:
x = df.iloc[:, :-1].values
y = np.reshape(df["MEDV"].values, [-1,1])
n = len(y)

In [60]:
ones = np.ones([n, 1])
X = np.hstack((ones, x))
ols = sm.OLS(df["MEDV"], X)
results = ols.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.739
Model:                            OLS   Adj. R-squared:                  0.733
Method:                 Least Squares   F-statistic:                     125.1
Date:                Thu, 06 Feb 2025   Prob (F-statistic):          5.61e-122
Time:                        17:44:02   Log-Likelihood:                 386.91
No. Observations:                 452   AIC:                            -751.8
Df Residuals:                     441   BIC:                            -706.6
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.3230      0.059      5.495      0.000       0.207       0.439
x1             0.0830      0.030      2.768      0.006       0.024       0.142
x2             0.0578      0.019      3.069      0.002       0.021       0.095
x3            -0.1345      0.040     -3.377      0.001      -0.213      -0.056
x4             0.5958      0.052     11.412      0.000       0.493       0.698
x5            -0.3201      0.046     -6.941      0.000      -0.411      -0.229
x6             0.1170      0.032      3.621      0.000       0.054       0.181
x7            -0.1214      0.039     -3.104      0.002      -0.198      -0.045
x8            -0.1765      0.027     -6.543      0.000      -0.229      -0.123
x9             0.1143      0.031      3.633      0.000       0.052       0.176
x10           -0.4022      0.039    -10.415      0.000      -0.478      -0.326
==============================================================================
Omnibus:                      191.541   Durbin-Watson:                   1.188
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1335.191
Skew:                           1.674   Prob(JB):                    1.17e-290
Kurtosis:                      10.726   Cond. No.                         29.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""